/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Lobster', cursive;
}

body {
  background-image: url(../assets/images/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: -1;
}
.title{
  text-transform: uppercase;
  text-decoration: underline;
}
.video-zise{
  width: 100%;
  height: 80%;
}
.map {
    width: 100%;
    height: 300px;
    color:black;
}
.card .card-image img{
  border-radius: 10px;
  height: 300px;
}
.splash{

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left:0;
}
/* efecto fadein al logo white*/
@keyframes fadein {
  from {opacity: 1;}
  to {opacity: 0.3;}
}


img[alt="splash"]{
  animation: fadein 1.5s;
   animation-iteration-count: infinite;
   width: 60%;
   height: 50%;
}
